@page "/reports/my"
@page "/"
@using Microsoft.Extensions.Logging

@inject IJSRuntime js

@using System.Net.Http

@inject Microsoft.Extensions.Logging.ILogger<Index> logger
@inject NavigationManager navigationManager

<h1>Мои отчеты</h1>

@foreach (var report in reports)
{
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-header">@($"{report.ReportInfo.Date.Year}.{report.ReportInfo.Date.Month.ToString("D2")}.{report.ReportInfo.Date.Day.ToString("D2")}")</div>
                <div class="card-body">
                    <p style="white-space: pre-line" class="card-text">
                        @((MarkupString)Markdig.Markdown.ToHtml(report.ReportInfo.Text))
                    </p>
                    <button class="btn btn-danger" @onclick="@(async () => await Delete(report.ReportInfo.Id))">Удалить</button>
                </div>
            </div>
        </div>
        <div class="col-3">
            @switch (report.SalaryInfo.Status)
            {
                case Models.RenderModels.LazyValueStatus.Loading:
                    <p>Загрузка оплаты...</p>
                    break;
                case Models.RenderModels.LazyValueStatus.Error:
                    <p>Невозможно загрузить данные</p>
                    break;
                case Models.RenderModels.LazyValueStatus.NoData:
                    <p>Оплата не назначена</p>
                    break;
                case Models.RenderModels.LazyValueStatus.Loaded:
                    <div class="card">
                        <div class="card-header">@report.SalaryInfo.Value.PrettyDate: @report.SalaryInfo.Value.Count ₽</div>
                        <div class="card-body">@report.SalaryInfo.Value.Description</div>
                        <div class="card-footer">Назначил: @report.SalaryApproverName.Value</div>
                    </div>
                    break;
                default:
                    <h1>некорректное состояние</h1>
                    break;
            }
        </div>
    </div>
}
@code {

    List<ITLab.TestFront.Models.RenderModels.MyReportCompactView> reports = new List<Models.RenderModels.MyReportCompactView>();

    [CascadingParameter]
    protected HttpClient httpClient { get; set; }
    [CascadingParameter]
    protected List<string> roles { get; set; }
    [CascadingParameter]
    ConnectionStrings connectionStrings { get; set; }
    [CascadingParameter]
    IReportsApi reportsApi { get; set; }
    [CascadingParameter]
    ISalaryApi salaryApi { get; set; }
    [CascadingParameter]
    IUsersApi usersApi { get; set; }

    JsonSerializerOptions jsonOptions = new JsonSerializerOptions
    {
        PropertyNamingPolicy = JsonNamingPolicy.CamelCase,
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }
        try
        {

            var salaryInfo = await salaryApi.GetUsersReportsSalary(connectionStrings.UserId);

            foreach (var item in reports)
            {
                var targetSalaryInfo = salaryInfo.FirstOrDefault(si => si.ReportId == item.ReportInfo.Id);
                if (targetSalaryInfo == null)
                {
                    item.SalaryInfo = item.SalaryInfo.NoData();
                    continue;
                }
                item.SalaryInfo = item.SalaryInfo.Loaded(targetSalaryInfo);

                var user = await usersApi.GetUserInfo(targetSalaryInfo.ApproverId);
                item.SalaryApproverName = item.SalaryApproverName.Loaded($"{user.LastName} {user.FirstName[0]}. {user.MiddleName?[0] ?? '.'}.");
            }
        }
        catch (Exception)
        {
            reports.ForEach(r =>
            {
                r.SalaryInfo = r.SalaryInfo.Error();
            });
        }

        StateHasChanged();

    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var reportsInfo = await reportsApi.GetReportsForUser(connectionStrings.UserId,
            DateTime.MinValue.ToString("dd.MM.yyyy"),
            DateTime.MaxValue.ToString("dd.MM.yyyy"));
        reportsInfo.Reverse();

        reports = reportsInfo.Select(ri => new Models.RenderModels.MyReportCompactView
        {
            ReportInfo = ri
        }).ToList();
    }

    private async Task Delete(string id)
    {
        await reportsApi.DeleteReport(id);
        await OnInitializedAsync();
    }
}
